/* src/index.css */
:root {
  --background-color: #fff; /* Default light mode */
  --text-color: #333;
  --secondary-text-color: #555;
  --button-bg-start: #0077B6;
  --button-bg-end: #005888;
  --border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-size-base: 16px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--background-color); /* Apply variable to body */
  color: var(--text-color);
  font-size: var(--font-size-base);
}

/* Reset */
* {
  box-sizing: border-box;
}